.grid_card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 90%;
    margin: 1% auto;
  }
  .p_card{
    text-align: left;
    margin: 1% 0 0 5%;
    font-size: 25px;
    font-weight: 600;
  }