.btn{
    border-left: 1px solid black;
    border-bottom-left-radius: 25px;
}
.btn2{    
    border-right: 1px solid black;
    border-bottom-right-radius: 25px;
}
#btn1{
    font-size: 1.2rem;
}
.same{
    width: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 5px;
    padding: 5px;
    border-bottom: 1px solid black;
}