* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.AdminRecipes__mainCont {
    /* margin: 0 4rem; */
    min-height: 500px;
}

.AdminRecipes__SidebarHam {
    display: none;
}

@media screen and (max-width:500px) {
    .AdminRecipes__SidebarHam {
        display: block;
    }
}